#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.properties
*.txt


/1.JavaSyntax/
/5.OnlineInternship/
/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
